body {
  background: rgb(125, 163, 173);
}

h1 {
  color: rgb(17, 167, 4);
  font-size: 200px;
  text-align: center;
  font-style: italic;
}

h2 {
  color: rgb(17, 167, 4);
}

.box {
  border: 100px;
  color: black;
}
.dice {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 300px;
}

footer {
  padding-block: 100px;
  text-align: center;
  font-size: 30px;
  color: green;
}
